<script setup lang="ts">
import { useQuery } from "@vue/apollo-composable";
import gql from "graphql-tag";
import { ref } from "vue";

const toEcho = ref("Hello World");
const formData = ref({toEcho})

const schema = [
  {
    $formkit: "text",
    name: "toEcho"
  },
];

const SAMPLE_FUNCTION = gql`
  query SampleFunction($toEcho: String!) {
    sampleFunction(toEcho: $toEcho) {
      body
    }
  }
`;

const { result, loading, error } = useQuery(SAMPLE_FUNCTION, {
  toEcho,
});

defineProps<{
  msg: string;
}>();
</script>

<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <h3 v-if="!loading && !error && result.sampleFunction">
      Result of sampleFunction:
      <div>
        <code>
          {{ result.sampleFunction.body }}
        </code>
      </div>
    </h3>
    <h3 v-if="error">Error fetching data!</h3>

    <div>
      <p>Test another echo:</p>
      <br/>
      <br/>
      <FormKit type="form" v-model="formData" :actions="false">
        <FormKitSchema :schema="schema" />
      </FormKit>
    </div>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
